body {
	background-color: turquoise;
	font-family: Verdana, Sans-Serif;
}

header {
	margin: 2em auto;
	width: 70%;
	background-color: white;
	padding: 3em;
	text-align: center;
	border-radius: 15px;
}

h1 {
	font-size: 3em;
}
.main {
	width: 40%;
	margin: 2em auto;
	background-color: white;
	padding: 3em;
	border-radius: 15px;
}

.main p {
	text-align: center;
}

.main form {
	width: 40%;
	margin: 0 auto;
}

form button {
	display: block;
	margin: 0.5em auto;
}

button {
	margin: 10px;
}